@font-face {
  font-family: 'Pastel Crayon';
  src: url('/js/pastel.ttf') format('truetype'); 
}


body {
  font-family: 'Pastel Crayon';
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("/images/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50.9%;
  transform: translate(-50%, -50%);
  background-color: #feff9c;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 4;
  font-family: 'Pastel Crayon', sans-serif;
}

h2{
  font-weight: 599
}

#login-error {
  color: red;
  font-size: 13px;
  margin: -1px;
  max-width: 200%;
}

#create-account-error {
  color: red;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 0px;
  max-width: 200%;
}

#submit-button{
  background-color: #14E66C
}

#crush-button{
  padding: 8px;
  width: 40%;
  transform: translate(75%, -15%);
}

.delete-crush {
  position: absolute;
  cursor: pointer;
  left: -30px;
  font-size: 20px;
  color: red;
  user-select: none;
}

.delete-crush:hover {
  color: darkred;
}



.popup-container p {
  max-width: 300px;
  margin-bottom: 15px;
}

.popup-text {
  font-size: 30px;
  color: #555555;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

#donate-button {
  position: absolute;
  top: 20.5px;
  right: 21px;
  width: 93.5px;
  height: 98.5px;
  background-color: transparent;
  background-image: url('/images/donate.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 43px;
  color: #fff;
  cursor: pointer;
}

#donate-button:hover {
  transform: translate(0, -3.5%);
}

#info-button {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 101.5px;
  height: 101.5px;
  background-color: transparent;
  background-image: url('/images/info.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

#info-button:hover {
  transform: translate(0, -3.5%);
}

#logo {
  margin-top: -150px;
  max-width: 370px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-container {
  position: relative;
  width: 255px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.login-container input {
  padding: 15px;
  width: 215px;
  font-size: 17px;
  border-radius: 5px;
  border-width: 0px;
  font-family: 'Pastel Crayon';
  background-color: transparent;
  background-image: url('/images/wide-box.png');
  background-size: 245px; /* Adjust background size to fit the image */
  background-position: 0px center;
  background-repeat: no-repeat;
  outline: none;
}

.crayon-line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -15px;
  height: 6px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#crushes-container {
  transform: translate(10%, 0%);
}

.crush-input-wrapper {
  width: 77%; /* Adjust this value as needed */
  display: inline-block;
  margin-right: 0%; 
  display: flex;
  align-items: center;
}

.crush-input-wrapper span {
  font-size: 19px;
  color: #333;
  margin-left: 5px;
  margin-top: -6px;
}



.modal-content button:hover {
  transform: translate(0, -3%);
}

.login-container button {
  padding: 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  background-image: url('/images/loginbutton.png');
  background-size: 243px; /* Adjust background size to fit the image */
  background-position: 0px center;
  background-repeat: no-repeat;
  outline: none;
  width: 243px;
}

.login-container button:hover {
/*  background-color: #4169E1;*/
  transform: translate(0, -5%);
}

.login-container hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

#create-account {
  background-image: url('/images/createbutton.png');
  background-size: 243px; /* Adjust background size to fit the image */
  background-position: 0px center;
  background-repeat: no-repeat;
}

#create-account:hover {
  transform: translate(0, -5%);
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.modal-content input {
  font-family: 'Pastel Crayon';
  font-size: 17px; /* Adjust the font size as needed */
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #333;
}

.modal-content button {
  font-family: 'Pastel Crayon';
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #6495ED; /* Customize button color */
  color: white;
  cursor: pointer;
}

.modal-tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-tab input[readonly] {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.modal-tab input#peer-email {
  display: inline-block;
  width: calc(100% - 120px); /* Adjust according to the width of @school.edu */
  margin-right: -4px; /* To align with the domain */
}

.modal-tab input#peer-email + span {
  display: inline-block;
  width: 120px; /* Same width as the margin-right of the input */
}


.activity-indicator {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #6495ED;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust the value to position it exactly where you want */
  left: 10px; /* Adjust the value to position it exactly where you want */
  font-size: 20px; /* Adjust the font size as needed */
  color: #000; /* Color of the close button */
  cursor: pointer; /* Cursor changes to pointer when hovering over the button */
  z-index: 1; /* Ensure it stays on top of the modal content */
}

.close-button:hover {
  color: #ff0000; /* Optional: Change color when hovered over */
}


/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Chat messages styling */
.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-message {
  padding: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #ddd;
}

h3{
  margin: -5px;
  color: grey;
}

.name-inputs {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
}

.name-inputs input {
  flex: 1;
}


